*{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

body{
    font-family: "Lato", sans-serif;
}

.w3-bar{
	font-family: "Montserrat", sans-serif
}

/* Colors */
:root{
	--lightgreen:#e3faec;
	--green:#06C167;
	--hovergreen:#04914d;
}

/* navbar */

.w3-top{
	position: fixed;
	background-color: var(--lightgreen);
}

.logo{
	color: var(--green);
	margin-right: 2.2em;
	margin-left: 3em;
	margin-top: 0.1em;
	text-decoration: none;
	font-weight: bold;
	
}

nav{
	background-color: var(--lightgreen);
}

.nav_link{
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 0.5em;

}

#nav_link:hover{
	background-color: var(--green)!important ;
	color: rgb(255, 255, 255)!important;
}

.btn_nav{
	font-size: 1.2rem;
	font-weight: bolder;
	color: green;
	border-radius: 0.8rem;
	background-color: rgb(205, 230, 205);
	font-size: 1rem;
	text-align: center;
	margin-right: 1em;
	margin-top: 0.5em;
}

.btn_nav:hover{
	background-color: var(--hovergreen) !important;
	color: white !important;
}

/* container */
.blur_container{
  height: 100vh;  
  background-color: var(--lightgreen);
  display: flex;
  justify-content: center;
  
}

.blur_card{
    background-color: rgba(248, 248, 248, 0.695);
    border-radius: 1.2em;
    margin-top: 15em;
    height: 300px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

.blur_card h3{
    font-weight: 600;
}

.blur_card i{
    padding-right: 0.6em;
}

.return_sub{
    text-decoration: none;
    font-size: 0.9rem;
}

.return_sub:hover{
    color: var(--hovergreen);
}

#sub_btn{
	border-radius: 0.5em;
	margin-bottom: 2em;
	width: 250px;
	height: 50px;
	background-color: #06C167;
	font-weight: bolder;
	color: white;
	border: none;
}

#sub_btn:hover{
	background-color: var(--hovergreen) !important;
	color: white !important;
}