/*Shop page style*/
html{
	scroll-behavior: smooth;
}

/* Colors */
:root{
	--lightgreen:#dff8ea;
	--green:#06C167;
	--hovergreen:#04914d;
}

body,h1,h2,h3,h4,h5,h6 {
	font-family: "Lato", sans-serif;
}

.w3-bar,h1,button {
	font-family: "Montserrat", sans-serif;
}

.fa-anchor,.fa-coffee, .fa-spinner {
	font-size:200px;
}


.w3-center-bar-item{
 	margin-left:150px;
}

footer{
	height:100px;
}


.w3-top{
	background-color: var(--lightgreen);
}

.logo{
	color: var(--green);
	margin-right: 2.2em;
	margin-left: 3em;
	margin-top: -0.2em;
	text-decoration: none;
	font-weight: bold;
	
}

header, nav{
	background-color: var(--lightgreen);
}

.nav_link{
	font-size: 1.2rem;
	font-weight: bold;
}

#nav_link:hover, 
.btn_nav:hover{
	background-color: var(--green)!important ;
	color: rgb(255, 255, 255)!important;
}

.btn_nav{
	font-size: 1.2rem;
	font-weight: bold;
}

.page-height{
	height:100%;
}


.w3-margin-button-sell{
 margin-top: 16px;
 margin-left:550px;
 border-radius: 1.2em;
}


.title_position{
	margin-top: 150px;
	margin-left: 60px;
	color: var(--green);
}

.checkout-title-position{
	margin-top :80px;
	margin-left: 60px;
	color: var(--green);
}


.page-button{
	border-radius: 1.2em;
}

.checkout-background{
	background-color: var(--lightgreen);
	height:100vh;
}

.calculate-button{
	border-radius: 1.2em;
	margin-left: 500px;
}

.continue-button{
	border-radius: 1.2em;
	margin-left: 16px;
}

.checkout-description{
	margin-right: 700px;
}

.yolo-background{
	background-color: var(--lightgreen);
	height:200vh;
}


/*CHECKOUT TABLE*/
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 50px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
/*table*/







/* Header */

.profile_btn {
    height: 30px;
    width: 30px;
    margin-top: 0.3em;
    margin-left: 7em;
    margin-right: 16px;
    cursor: pointer;
}

.w3-top{
	position: fixed;
	background-color: var(--lightgreen);
}

.logo{
	color: var(--green);
	margin-right: 2.2em;
	margin-left: 3em;
	margin-top: 0.1em;
	text-decoration: none;
	font-weight: bold;
	
}


nav{
	background-color: var(--lightgreen);
}

.nav_link{
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 0.5em;
}

#nav_link:hover{
	background-color: var(--green)!important ;
	color: rgb(255, 255, 255)!important;
}

.btn_nav{
	font-size: 1.2rem;
	font-weight: bolder;
	color: green;
	border-radius: 0.8rem;
	background-color: rgb(205, 230, 205);
	font-size: 1rem;
	text-align: center;
	margin-right: 1em;
	margin-top: 0.5em;
}

.btn_nav:hover{
	background-color: var(--hovergreen) !important;
	color: white !important;
}



.u_can_edit_here{
	background-color: white;
	height:200vh;
}










/* footer */
.container{
	max-width: 1200px;
	
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-col ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 500px;
}
.footer{
	background-color: #24262b;
    padding: 40px 0;
	height: 25vh;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--green);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* scroll */
.scrolltop{
	position: fixed;
 	bottom: 30px;
 	right: 20px;
 	padding: 6px 13px;
	background-color: var(--green);
 	color: #fff;
	border-radius: 10px;
 	cursor: pointer ;
	transition: all 0.5s ease 0s;
}
